{
	email {$CADDY_EMAIL:admin@localhost}
	auto_https disable_redirects
}

{$EAGLE_DOMAIN:localhost} {
	tls internal

	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		-Server
	}

	reverse_proxy eagle-x:8080
}
